# Copy this file to .env and update the values as needed
# Database configuration is for development purposes only
# For production, use production schema and update the connection string accordingly
DATABASE_URL="file:./dev.db"


JWT_SECRET="secretkey"